.carefree-antd-transfer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carefree-antd-transfer .between-table {
  flex: 1;
}

.carefree-antd-transfer .middle-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90px;
  /* background: red; */
}
